.tray-button {
  font-size: 18px;
  font-family: "JetBrainsMono Nerd Font";
  color: #f38ba8;
  border-radius: 10px;
  transition: background-color 0.6s;

  &:hover {
    background-color: rgba(49, 50, 68, 0.38);
  }
}

.systray-shadow {
  background-color: rgba(49, 50, 68, 0.38);
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0px 8px;
  border-radius: 20px;
}

.tray-text {
  margin-bottom: 4px;
}
